.sidebar{
    height:100vh;
    background-color: black;
    width:130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    
}
.landing{
    display: flex;
}
.sidenav ul{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    
}

.sidebar a{
    text-decoration: none;
    color: white;
}
.sidebar a:hover{
    color: white;
}